/* ======固定部分 开始====== */
@font-face {
	font-family: "iconfont";
	/* Project id 3523630 */
	src: url("static/icon/iconfont.woff?t=1659429687997") format("woff"),
		url("static/icon/iconfont.ttf?t=1659429687997") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
	content: "\e62a";
}

.icon-xihuan:before {
	content: "\e761";
}

.icon-zhuanfa:before {
	content: "\e6c9";
}

.icon-pinglun:before {
	content: "\e618";
}

.icon-liuyan:before {
	content: "\e65e";
}

.icon-liuyanban:before {
	content: "\e61b";
}

.icon-weibiaoti-:before {
	content: "\e628";
}

.icon-ziyuan:before {
	content: "\e8ee";
}

.icon-tice:before {
	content: "\e787";
}

.icon-anonymous:before {
	content: "\e8ef";
}

.icon-41shuoshuo:before {
	content: "\e658";
}

.icon-dibudaohanglan:before {
	content: "\e630";
}

.icon-icon_xinyong_xianxing_jijin-:before {
	content: "\e621";
}

.icon-ershouwupin:before {
	content: "\e606";
}

.icon-biaobai:before {
	content: "\e629";
}

.icon-gongju:before {
	content: "\e6ae";
}

.icon-yanzhengma:before {
	content: "\e636";
}

.icon-yanzhengma1:before {
	content: "\e634";
}

.icon-dingdan:before {
	content: "\e64c";
}

.icon-jiajianzujianjiahao:before {
	content: "\e64d";
}

.icon-dayuhao:before {
	content: "\e62d";
}

.icon-mima:before {
	content: "\e640";
}

.icon-QQdenglu:before {
	content: "\e63d";
}

.icon-weixindenglu:before {
	content: "\e63e";
}

.icon-fanhui:before {
	content: "\e62e";
}

.icon-fabu1:before {
	content: "\e650";
}

.icon-zhanghao1:before {
	content: "\e642";
}

.icon-wodedianpu3:before {
	content: "\eb5b";
}

.icon-ruzhu1:before {
	content: "\e659";
}

.icon-zhanghao:before {
	content: "\e63f";
}

.icon-fanhui23:before {
	content: "\e635";
}

.icon-gerenxinxi1:before {
	content: "\e6aa";
}

.icon-lianxikefu1:before {
	content: "\e6ab";
}

.icon-fenxiangweiyin1:before {
	content: "\e6ac";
}

.icon-wodefabu1:before {
	content: "\e6ad";
}

.icon-tuichuzhanghao1:before {
	content: "\e6af";
}

.icon-guanyuwomen-01-01:before {
	content: "\e6b1";
}

.icon-shouji:before {
	content: "\e662";
}

.icon-weixin-01:before {
	content: "\e6b9";
}

.icon-QQ-01:before {
	content: "\e6ba";
}

.icon-chengji:before {
	content: "\e604";
}

.icon-shuaxin:before {
	content: "\e60c";
}

.icon-pingjiao:before {
	content: "\e612";
}

.icon-xuefenji:before {
	content: "\e61d";
}

.icon-xuefen:before {
	content: "\e620";
}

.icon-yingyupingjunfen:before {
	content: "\e623";
}

.icon-ticejisuan:before {
	content: "\e624";
}

.icon-yixuankecheng:before {
	content: "\e627";
}

.icon-qiehuan:before {
	content: "\e63b";
}
