var getDateArr = (function(date) {
    var dateArr = date.split(" ");
    var dateArr = dateArr[(0)].split("-");
    return (dateArr)
});
var getMonthStr = (function(monthNum) {
    var monthArr = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    return (monthArr[((nt_1 = (monthNum - 1), null == nt_1 ? undefined : 'number' === typeof nt_1 ? nt_1 : "" + nt_1))])
});
var getDateTimeStr = (function(dateTime) {
    if (dateTime) {
        var nowDate = getDate();
        var nowYear = nowDate.getFullYear();
        var prayYear = dateTime.slice(0, 4);
        if (nowYear == prayYear) {
            dateTimeStr = dateTime.slice(5, -3)
        } else {
            dateTimeStr = dateTime.slice(2, -3)
        }
    } else {
        dateTimeStr = ''
    };
    return (dateTimeStr)
});
module.exports = ({
    getDateArr: getDateArr,
    getMonthStr: getMonthStr,
    getDateTimeStr: getDateTimeStr,
});